<head>
    <link rel="stylesheet" href="/static/styles.css" />
</head>
<body>
    {% if username %}
    <h2>Welcome, {{ username|safe }}!</h2>
    {% endif %}
    <form method="post">
        <div class="container">
            <label id="username-label" class="username-label" for="uname"
                ><b>Username</b></label
            >
            <input
                id=""
                type="text"
                placeholder="Enter Username"
                name="username"
                required
            />

            <label id="password-label" class="password-label" for="password"
                ><b>Password</b></label
            >
            <input
                type="password"
                placeholder="Enter Password"
                name="password"
                required
            />

            <button type="submit">Login</button>
            <label>
                <input type="checkbox" checked="checked" name="remember" />
                Remember me
            </label>
        </div>

        <div class="container" style="background-color: #f1f1f1">
            <button type="button" class="cancelbtn">Cancel</button>
            <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
    </form>
</body>
